.about-html,
.about-body {
  height: 100%;
  overflow: hidden;
}

.about-body {
  align-items: center;
  background: #000;
  color: #fff;
  display: flex;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue",
    Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 100;
  justify-content: center;
  line-height: 1.5;
  text-align: center;
  -webkit-font-smoothing: antialiased;
}

.about-canvas {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.about-page-wrap {
  pointer-events: auto;
  font-weight: 800;
}

.about-text-container {
  max-width: 420px;
  width: 90%;
}

.about-page-wrap h1 {
  font-size: 22px;
}

.about-page-wrap p {
  font-size: 1.2rem;
}

/* Website Link */

/* 글 */
.about-content {
  max-width: 800px;
  margin: 0 auto;
  margin-left: -1100%;
}

.about-content h1 {
  font-size: 2.5rem;
  margin-top: -10%;
  margin-bottom: 5%;
  font-style: italic;
  font-weight: 800;
  color: #fff; /* 좀 더 하얀 색상 */
}

.intro-text {
  font-style: italic;
  margin-bottom: 30px;
  color: #fff;
}

.description {
  margin-bottom: 2%;
  font-style: italic;
  font-size: 2rem;
  line-height: 1.6;
}
.about-content h1,
.about-content p {
  text-shadow: -0.5px -0.5px 0 #000, 0.5px -0.5px 0 #000, -0.5px 0.5px 0 #000,
    0.5px 0.5px 0 #000,
    /* 주황빛 로즈골드 글로우 효과 */ 0 0 30px rgba(217, 142, 115, 1),
    0 0 20px rgba(217, 142, 115, 1);
}
